<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">MemoMix</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Posts</a>
                </li>
                <% if(user){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/add_post">Add New Post</a>
                    </li>
                 <% } %>
                <li class="nav-item" style="position: relative;">
                    <% if(user){ %>
                        <div class="user-icon">
                            <span class="user-initials"><%= user.initial || 'NA' %></span>
                        </div>
                        <div class="dd-menu" id="navigationUserMenu">
                            <a href="/profile" class="dd-menu-item">Profile</a>
                            <hr>
                            <a href="/logout" class="dd-menu-item">Logout</a>
                        </div>
                     <% } %>
                     <% if(!user) { %>
                        <a class="nav-link" href="/login">Login</a>
                     <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
    $('.user-icon').on("click", function(e) {
        e.stopPropagation();
        const target = $("#navigationUserMenu");
        if (target.css('display') === 'none' || target.css('display') === '') {
            target.css('display', 'flex');
        } else {
            target.css('display', 'none');
        }
    })

    $("body").on("click", function() {
        $("#navigationUserMenu").hide();
    })

    function logoutt() {
        // document.cookie = 'token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
        // $.cookie("token", null, { path: '/' });
    }
</script>