<div id="custom-modal" class="hidden">
    <div class="custom-modal-parent">
        <div class="custom-model-content">
            <div class="header">
                <div class="icons">
                    <div class="icon2">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <h4 class="title">Title</h4>
            </div>
            <div class="section">
                <div id="editor"></div>
            </div>
        </div>
    </div>
</div>