<%- include('partials/_header') -%>
<body>
<%- include('partials/_navigation', { user }) -%>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Welcome to Your Personal Expression Space</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <hr>
</body>
<%- include('partials/_footer') -%>


