.form-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    background: #fff;
    border-radius: 4px;
    height: 80vh;
    padding: 0 2em;
    margin: 1rem 5vw 0;
}

.form-container:has(.ck-editor__main) .editor-container {
    width: 100%;
    height: 100%;
}

.form-container:not(.ck-editor__main) .editor-container {
    width: 100%;
    height: 72%;
    margin-bottom: 2.8em;
}

/* .form-container:has(.ck-editor__main) .editor-container {
    width: 100%;
    height: 100%;
} */

.ck .ck-editor__main > div {
    height: 60vh;
}

.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    width: 100%;
}

.floating-label-form-group input {
    font-size: 1.5em;
    padding: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
}

.bottom-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0px;
}

.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
    color: #868e96;
    font-family: 'Lora', 'Times New Roman', serif;
}

.consent-public-check {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
  
.consent-public-check input {
    margin-top: 0;
}

.ql-toolbar.ql-snow .ql-formats {
    margin-right: 0;
}

@media only screen and (min-width: 992px) {
    .form-container {
        margin: 1rem 10vw 0;
    }
}

.ck .ck-editor__main > div p {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .form-container {
        padding: 0 .5em;
    }

    .form-container:has(.ck-editor__main) {
        height: 77vh;
        margin: 1rem 2vw 0;
    }

    .ck .ck-editor__main > div {
        height: 60vh;
    }

    .form-container:not(.ck-editor__main) .editor-container {
        height: 60%;
        margin-bottom: 4.5em;
    }

    .right-actions button {
        padding: 9px 15px;
        font-size: 12px;
    }

    .left-actions label {
        font-size: .8em;
    }
}