.custom-tooltip-post {
    --bs-tooltip-bg: #333;
    --bs-tooltip-color: #fff;
}

:root {
    --ck-z-panel: 1080 !important;
}

.posts {
    margin: .5rem .5rem 0;
}

.posts .searchbar {
    padding: 0 1em;
}

.posts-container {
    overflow-y: auto;
    max-height: 74vh;
    overflow-x: hidden;
    padding: 5px;
}

.posts-container #all-posts {
    margin: 0;
}

.pagination-container {
    display: flex;
    justify-content: flex-end;
    margin: 0.5em 1vw 0px;
}

.posts .card-img-top {
    height: 150px;
    object-fit: cover;
}
.posts .card-body {
    min-height: 90px;
}
.posts .card-title {
    font-weight: bold;
}
.posts .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.posts .card:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.posts .card {
    cursor: pointer;
}

.posts .btn {
    padding: 9px 17px;
}

.pagination-container .light-theme a, 
.pagination-container .light-theme span {
    font-size: 1.2em;
    padding: 4px 12px;
}

.pagination-container .light-theme ul li .current {
    border: none;
    background: #666;
    box-shadow: unset;
}

.pagination-container .light-theme ul li.disabled span {
    background-color: unset;
}

.pagination-container .light-theme:not(.current) a:hover,
.pagination-container .light-theme:not(.current) span:hover {
    /* background: -webkit-linear-gradient(top,#fff 0,#efefef 100%); */
    background: #0072ffe0;
}

.pagination-container .light-theme:not(.current) a, 
.pagination-container .light-theme:not(.current) span {
    /* background: -webkit-linear-gradient(top,#fff 0,#efefef 100%); */
    background: #0072ffe0;
    border: none;
    color: #fff;
}

.pagination-container .light-theme .active .current:hover {
    background: #666;
}

.posts-container .disable-anchor-css {
    text-decoration: none; 
    color: inherit;
}

.card-title-text {
    font-weight: bold;
    margin-bottom: .4em;
    font-size: .95em;
}

.card-plain-text {
    font-size: .9em;
    overflow: hidden;
}

.input-search-parent {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.input-search-parent input {
    /* width: 35%; */
    transition: width 0.3s ease-in-out;
}

/* .input-search-parent input:focus {
    width: 100%;
} */

.input-search-parent span {
    position: absolute;
    right: 5%;
    top: 0;
    font-size: 1.4em;
    cursor: pointer;
}

.input-search-parent input:placeholder-shown + .clear-search {
    display: none;
}

.input-search-parent input:not(:placeholder-shown) + .clear-search {
    display: block;
}

@media only screen and (max-width: 767px) {

    ::-webkit-scrollbar {
        width: 0.2em;
    }

    .pagination-container {
        margin: 0.5em 4.5vw 0px;
    }

    .card-title-text {
        font-size: .85em;
    }

    .card-plain-text {
        font-size: .75em;
    }
    
    .pagination-container .light-theme a, 
    .pagination-container .light-theme span {
        font-size: .8em;
        padding: 2px 9px;
    }

    .pagination-container .light-theme .prev, 
    .pagination-container .light-theme .next {
        padding: 2px 8px;
    }

    .posts-container {
        max-height: 65vh;
    }
}

#post-modal-parent.hide,
#post-modal-parent button.hide,
#post-modal-parent i.hide {
    display: none;
}

#post-modal-parent button:not(.hide),
#post-modal-parent:not(.hide),
#post-modal-parent i:not(.hide) {
    display: block;
}

.ql-tooltip {
    width: 350px;
}

@media only screen and (max-width: 768px) {
    .ql-tooltip {
        width: 50vw;
    }

    #post-modal-parent .icons button:not(.hide) {
        font-size: .67em;
    }

    #custom-modal .header .icons {
        gap: 8px;
    }

    .searchbar {
        justify-content: center;
        margin-bottom: 5px;
    }

}

@media only screen and (min-width: 768px) {
    .input-search-parent input {
        width: 20em;
    }

    .input-search-parent .clear-search {
        right: 0.4em;
    }
}
